<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<link rel="stylesheet" href="../../../app/assets/stylesheets/posts.css">
  <body>
		<div class="header">
 			<li><a href=""><img src=""></a></li>
			<li class="title"><h1>Engineer SNS</h1></li>
			<div class="keyword">
				<form action="" method="">
					<li><input type="search" name="search" placeholder="キーワードを入力"></li>
					<li><input type="submit" name="submit" value="検索"></li>
				</form>
			</div>
			<div class="head">
				<li><input type="button" value="コミュニティ一覧" onclick=""><li>
				<li><input type="button" value="投稿する" onclick=""></li>
			</div>
		</div>
	</body>
	<body>
    <%= yield %>	
		<div id="sideBar" align="right">
			<a href=""><img src=""></a>
			<ul>
				<li><input type="button" value="トレンド"></li>
				<li><input type="button" value="お気に入り"></li>
				<li><input type="button" value="タグフィード"></li>
				<li><input type="button" value="ユーザーアクセスランキング"></li>
				<li><input type="button" value="タグランキング"></li>
			</ul>
		</div>
		<div class="clear"></div>
  </body>
</html>
